[user]
	email = rafaeln.dev@gmail.com
	name = Rafael Nascimento
[core]
	editor = vim
	askpass = 
	compression = 9
	preloadindex = true
	fscache = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[gc]
	auto = 256
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pack]
	windowMemory = 100m
	packSizeLimit = 100m
[http]
	postBuffer = 1048576000
[color]
	ui = true
[alias]
	d = difftool
[push]
	default = simple
[rerere]
	enabled = true
[cola]
	spellcheck = false
